// TODO: Remove jumbotron
.hero {
    height: 100vh;
    .skewed {
        position: relative;
        transform-origin: 300%;
        transform: skewY(9deg);
    }
    .l-title {
        position: relative;
    }
    .title, .title-clone {
        width: 100%;
    }
    .title-clone {
        position: absolute;
        top: 0.05em;
        left: 0.10em;
        color: darken($primary-dark, 10%);
        z-index: -1;
    }
    .l-subtitle {
        width: 100%;
    }
    .subtitle {
        height: 1.5em;
    }
    h1 {
        font-weight: 100;
        font-size: 3em;
        font-family: 'Roboto Mono';
        display: inline-block;
        position: relative;
    }
    path {
        stroke: $primary-light !important;
        stroke-width: 3px !important; 
    }
}

section.main {
    text-align: center;
    padding: 10rem 0;
    header {
        position: relative;
    }
    .l-title {
        position: relative;
        margin-bottom: 3em;
    }
    .l-subtitle {
        position: relative;
    }
    .subtitle {
        position: absolute;
        top: -0.5em;
        width: 100%;
        color: darken($primary-dark, 10%);
        font-weight: 700;
        z-index: -1;
    }
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    .link {
        display: inline-block;
        margin-right: 0.5em;
    }
    a {
        display: inline-block;
        color: $primary-light;
        transform: scale(1);
        transition: 0.3s all;
    }
    a:hover {
        color: darken($primary-light, 20%);
        transform: scale(0.9);
    }
    a:active {
        color: darken($primary-light, 45%);
        transform: scale(0.7);
    }
    .icon {
        font-size: 1.5em;
        box-shadow: 0.2em 0.2em 0 $primary-dark;
    }
}

@include tablet {
    .hero {
        .skewed {
            transform-origin: 150%; 
        }
        path {
            stroke-width: 2px !important;
        }
        h1 {
            font-size: 4em;
        }
    }
    .navbar {
        padding-top: 1em;
    }
}

@include laptop {
    .hero {
        .skewed {
            transform-origin: 100%;
        }
        path {
            stroke-width: 1px !important;
        }
    }
}