<div class="container">
        <div class="row">
            <div class="twelve columns">
                    <h1 ng-bind="mainCtrl.profile.fullName"></h1>
                    <h5 ng-bind="mainCtrl.profile.headline"></h5>
                    <p ng-bind="mainCtrl.profile.aboutMe"></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="twelve columns">
                <h1>Work Experience</h1>
            </div>
            <div class="twelve columns" ng-repeat="position in mainCtrl.positions">
                <h5 ng-bind="position.title"></h5>
                <h6 ng-bind="position.company"></h6>
                <pre ng-bind="position.description"></pre>
            </div>
        </div>
    </div>