@mixin tablet {
    @media only screen and (min-width: $screen-sm) {
        @content;
    }
}

@mixin laptop {
    @media only screen and (min-width: $screen-md) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $screen-lg) {
        @content;
    }
}

.has-subtitle {
    margin-bottom: 0;
}

.has-child-centered {
    position: relative;
    &>* {
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.fill-vertically {
    height: 100%;
}

.hides-overflow {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 1em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

@include tablet {
    .container {
        padding: 0;
        width: $container-sm;
    }
}

@include laptop {
    .container {
        width: $container-md;
    }
}

@include desktop {
    .container {
        width: $container-lg;
    }
}