$primary-font: 'Arvo';
$secondary-font: 'Raleway';

$background-color: #2B3A42;
$foreground-color: #759db2 ;
$foreground-accent-color: #BDD4DE;

$accent-color: #FF530D;

body {
	background-color: $background-color;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $primary-font, serif;
}

hr {
	border-top: 1px solid $foreground-color;
	border-bottom: 1px solid darken($foreground-color, 40%);
}

label {
	color: $foreground-color;
}

input[type=submit] {
	background-color: white;
}