#l-about {
	ul > li, ol > li {
		font-size: 0.85em;
	}
	.profile-picture {
		position: relative;
		img {
			width: 50%;
			border-radius: 100%;
			margin-bottom: 2em;
		}
	}
	.skill {
		position: relative;
		font-size: 1.3em;
		height: 1em;
		margin-bottom: 0.5em;
		overflow: hidden;
		.bar, .bar-label, .bar-placeholder {
			position: absolute;
			top: 0;
			height: 1em;
			font-size: 1em;
			line-height: 1em;
			width: 100%;
		}
		.bar-label {
			z-index: 2;
			color: $foreground-accent-color;
			vertical-align: middle;
			padding-left: 0.5em;
			font-size: 0.5em;
			height: 2em;
			line-height: 2em;
		}
		.bar {
			z-index: 1;
			background-color: lighten($background-accent-color, 30%);
		}
		.bar-placeholder {
			background-color: $background-accent-color;
			color: $background-color;
		}
	}
}

/* Larger than phablet */
@media (min-width: 550px) {
	#l-about .profile-picture img {
		width: 90%;
	}
}