#l-about {
	.skill {
		position: relative;
		font-size: 2rem;
		height: 1.6em;
		margin-bottom: 0.7em;
		overflow: hidden;
		.bar, .bar-label, .bar-placeholder {
			position: absolute;
			top: 0;
			height: 1.6em;
			font-size: 2rem;
			line-height: 1.6em;
			width: 100%;
		}
		.bar-label {
			z-index: 2;
			color: $foreground-accent-color;
			font-weight: bold;
			vertical-align: middle;
			padding-left: 0.3em;
		}
		.bar {
			z-index: 1;
			background-color: lighten($background-accent-color, 30%);
		}
		.bar-placeholder {
			background-color: $background-accent-color;
			color: $background-color;
		}
	}
}