.l-block {
  padding: 10vh 0;
}

.block-header {
	font-size: 6rem;
	color: $foreground-color;
}

.block-text {
	font-family: $secondary-font, sans-serif;
	font-size: 3.5rem;
	color: $foreground-color;
}

/* Larger than phablet */
@media (min-width: 750px) {
	.block-header {
		font-size: 8rem;
	}
	.block-text {
		font-size: 2.5rem;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.block-text {
		padding-left: 5vw;
	}
}