.l-block {
  padding: 2rem 0 1rem 0;
}

.l-block-divider {
	padding: 14rem 0;
	.divider {
		margin: 0 auto;
		width: 15%;
	}
}

.l-block-section {
	margin-bottom: 4em;
}

.block-header {
	user-select: none;
	cursor: default;
	position: relative;
	font-size: 4rem;
	color: $foreground-accent-color;
	&.no-padding {
		padding: 0;
	}
	&.no-margin {
		margin: 0;
	}
}

.block-subheader {
	user-select: none;
	cursor: default;
	position: relative;
	font-size: 3rem;
	font-weight: bolder;
	margin: 0;
	color: darken($background-color, 5%);
}

.block-text {
	font-family: $secondary-font, sans-serif;
	line-height: 1.8em;
	color: $foreground-color;
	b {
		color: $foreground-accent-color;
	}
}

/* Larger than phablet */
@media (min-width: 750px) {
	.block-header {
		font-size: 4.5rem;
	}
	.block-text {
		padding-left: 10vw;
	}
	.block-subheader {
		position: absolute;
		top: -0.7em;
		z-index: -1;
		font-size: 4.5rem;
		font-weight: bolder;
		color: darken($background-color, 5%);
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.block-header {
		font-size: 7rem;
	}
	.block-subheader {
		font-size: 8.5rem;
	}

	.block-text {
		padding-left: 10vw;
	}
}