.l-landing {
	padding-top: 150px;
	padding-bottom: 10vh;
	.block-header {
		color: $foreground-accent-color;
	}
}

/* Larger than phablet */
@media (min-width: 750px) {
	.l-landing {
		padding-top: 35vh;
	}
}