$navbar-padding: 20px;
.l-navbar {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 9;
	.navbar-left, .navbar-right {
		padding-top: $navbar-padding;
	}
	.navbar-left {
		padding-left: $navbar-padding;
		float: left;
		> * {
			margin-right: $navbar-padding / 2;
		}
	}
	.navbar-right {
		display: none;
		padding-right: $navbar-padding;
		float: right;
		> * {
			margin-left: $navbar-padding / 2;
		}
	}
	.navbar-link {
		font-weight: bold;
		transition: color 0.3s;
		color: $foreground-accent-color;
		&:hover {
			color: $accent-color;
		}
	}
}
#logo {
	display: inline-block;
	height: 10rem;
	width: 10rem;
	line-height: 12rem;
	color: white;
	text-align: center;
	transform: scale(1);
}

@media (min-width: 400px) {
}
/* Larger than tablet */
@media (min-width: 750px) {
	.l-navbar .navbar-right {
		display: block;
	}

	#logo {
		height: 9rem;
		width: 9rem;
		font-size: 2rem;
		line-height: 6rem;
	}
}