$navbar-padding: 20px;
.l-navbar {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 9;
	.navbar-left, .navbar-right {
		padding-top: $navbar-padding;
	}
	.navbar-left {
		padding-left: $navbar-padding;
		float: left;
		> * {
			margin-right: 1em;
		}
	}
	.navbar-right {
		display: none;
		padding-right: $navbar-padding;
		float: right;
		> * {
			margin-left: 1em;
		}
	}
	.navbar-link {
		transition: color 0.3s;
		color: $foreground-accent-color;
		&:hover {
			color: $accent-color;
		}
	}
}
$logo-size: 70px;
#logo {
	display: inline-block;
	height: $logo-size;
	width: $logo-size;
	line-height: $logo-size;
	font-size: $logo-size/3;
	vertical-align: middle;
	text-align: center;
	color: white;
	letter-spacing: 0.1em;
	background-color: $accent-color;
	transition: background-color 0.3s;
	&:hover {
		background-color: $foreground-accent-color;
	}
}

@media (min-width: 400px) {
}
/* Larger than tablet */
@media (min-width: 750px) {
	$navbar-padding: 40px;
	.l-navbar {
		.navbar-right {
			padding-top: $navbar-padding;
			padding-right: $navbar-padding;
			display: block;
		}
		.navbar-left {
			padding-top: $navbar-padding;
			padding-left: $navbar-padding;
		}
	}

}