@import '../node_modules/skeleton-css/css/normalize.css';
@import '../node_modules/skeleton-css/css/skeleton.css';

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', 'Times New Roman', Times, serif;
}

p, pre {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}