.reveal {
    visibility: hidden;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.fade-in {
    animation-name: fadeIn;
}

.fade-in-down {
    animation-name: fadeInDown;
}

.fade-in-right {
    animation-name: fadeInRight;
}

.slide-into {
    animation-timing-function: cubic-bezier(.12,.52,.32,.99);
    animation-name: slideInFrames;
    &.hyper {
        &::before, &::after {
            content: '';
            position: relative;
            display: block;
            width: 100%;
            background-color: $primary-light;
            height: 3px;
            transform: scaleX(0);
            animation-name: growX;
            animation-delay: inherit;
            animation-duration: inherit;
            animation-fill-mode: both;
        }
        &::before {
            transform-origin: left;
        }
        &::after {
            top: 10px;
            transform-origin: right;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFrames {
    from {
        transform: translateY(150%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes fadeInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
.fade-in-down {
    animation-name: fadeInDown;
}

@keyframes fadeInRight {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes growX {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}