$h-multiplier: 0.25;

@for $i from 1 through 6 {
    h#{$i} {
        font-size: 1em + ((6 + 1 - $i) * $h-multiplier);
    }
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    background-color: $primary-dark;
    color: $primary-light;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    margin: 0;
}

p, pre {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
}

pre {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

@include tablet {
    body {
        font-size: 20px;
    }
}

@include laptop {
    body {
        font-size: 20px;
    }
}

@include desktop {
    body {
        font-size: 30px;
    }
}