.reveal {
}

.grow-horizontally {
	transform: scaleX(0);
	transition: transform 0.4s ease-out;
	&.is-revealed {
		transform: scaleX(1);
	}
}

.slide-in-right {
	transform: translateX(-101%);
	transition: transform 1s ease-out;
	&.is-revealed {
		transform: translateX(0);
	}
}

.fade-in {
	opacity: 0;
	transition: opacity 0.5s;
	&.is-revealed {
		opacity: 1;
	}
}
.fade-in-down-small {
	opacity: 0;
	transition: opacity 0.5s, transform 0.5s ease-out;
	transform: translateY(-5%);
	&.is-revealed {
		opacity: 1;
		transform: translateY(0);
	}
}
.fade-in-down {
	opacity: 0;
	transition: opacity 0.5s, transform 0.5s ease-out;
	transform: translateY(-30%);
	&.is-revealed {
		opacity: 1;
		transform: translateY(0);
	}
}
.fade-in-left {
	opacity: 0;
	transition: opacity 0.5s, transform 0.5s ease-out;
	transform: translateX(5%);
	&.is-revealed {
		opacity: 1;
		transform: translateX(0);
	}
}
.fade-in-up {
	opacity: 0;
	transition: opacity 0.5s, transform 0.5s ease-out;
	transform: translateY(5%);
	&.is-revealed {
		opacity: 1;
		transform: translateY(0);
	}
}