#scroll-up {
	position: fixed;
	right: -2.2em;
	bottom: 0;
	padding: 0.5em 1em;
	font-size: 3rem;
	color: #ff530d;
	background-color: $background-accent-color;
	transform: rotate(-90deg) translateY(100%);
	transform-origin: left;
	transition: color .3s, transform .8s ease-in-out;
	z-index: 9;
	cursor: pointer;
	a {
		font-size: 1em;
	}
	&:hover {
		color: $foreground-accent-color;
	}
	&.is-visible {
		transform: rotate(-90deg) translateY(0%);
	}
}

/* Larger than phablet */
@media (min-width: 550px) {
	#scroll-up {
		font-size: 2rem;
	}
}